.show-brands-recommended{
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.show-brands-recommended-carousels{
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-brands-recommended h2{
    color: #EE1E09;
    font-style: italic;
    max-width: 250px;
}