@import '../../variables.scss';

.show-brands-recommended{
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: space-around;
    background-color: $color_white;
    h2{
        color: $color_black;
        font-style: italic;
        max-width: 250px;
    }
    .show-brands-recommended-carousels{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
