@import '../../variables.scss';

.section-wishlist{
    width: 80%;
    margin: 0 auto;
    padding-top: 90px;
    .wishlist-item{
        width: 80%;
        display: flex;
        margin: 15px auto;
        padding: 20px 10px;
        box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
        img {
            width: 90%;
            height: 150px;
        }
        .wishlist-item-img {
            width: 20%;
            display: flex;
            justify-content: center;
            img {
                width: 90%;
                height: 150px;
            }
        }
        .wishlist-item-name{
            width: 55%;
            display: flex;
            padding: 10px 8% 0;
            align-items: center;
            justify-content: space-between;
            h5 {
                color: $color_black;
                font-size: 22px;
                text-align: left;
                margin-bottom: 0;
                font-weight: bold;
            }
        }
        .wishlist-item-name-brand{
            span{
                display: block;
                color: $color_red;
            }
        }
        .wishlist-item-price {
            display: flex;
            justify-content: center;
            span {
                text-align: center;
                font-size: 22px;
                font-weight: bold;
                margin: 5px 2px;
            }
        }
        .wishlist{
            width: 5%;
        }
        .wishlist-item-prices {
            width: 20%;
            display: flex;
            margin: 0 auto;
            min-height: 60px;
            align-items: center;
            justify-content: space-around;
        }
        
        .wishlist-item-prices-mount span{
            display: block;
        }
        
        .wishlist-item-prices-descount{
            display: flex;
            align-items: center;
        }
        
        .wishlist-item-prices-descount span{
            font-size: 28px;
            color: $color_green;
            font-weight: bold;
        }
        
        .mount-discount{
            text-decoration: line-through;
            display: block;
            font-style: italic;
        }
        
        .mount-price{
            font-size: 28px;
            margin-top: -5px;
            font-weight: bold;
        }
    }
}
