.carousel-bg-light {
    background-image: url(../../images/fondoShipping.jpg);
}

.carousel-multi-80 {
    width: 80%;
}

.section-free-shipping{
    display: flex;
    margin: 60px 0;
    align-items: center;
}

.section-free-shipping-title{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 40px
}

.section-free-shipping-title span{
    width: 100%;
    font-size: 18px;
}

.section-free-shipping-title h5{
    width: 100%;
    font-weight: bold;
    font-size: 32px;
    color: #5E9706; 
}


