@import '../../variables.scss';

.breadcrumb{
    display: flex;
    padding: 5px 15px;
    background: $color_grey_light;
    align-items: center;
    justify-content: left;
    a{
        width: auto;
        .breadcrumb-nav{
            cursor: pointer;
            margin: 0 5px;
            font-size: 15px;
            color: $color_grey;
        }
    }
    .breadcrumb-icon{
        color: $color_grey; 
        font-size: 12px!important;
    }
    .breadcrumb-nav.active{
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 0 5px;
    }
}