.section-banner-small{
    height: 285px;
    background-image: url(../../images/banner-small.jpg);
}
.section-banner-small-text{
    padding: 60px;
}
.section-banner-small-text h2{
    color: #fff;
    font-size: 55px;
    font-weight: bold;
}
.section-banner-small-text p{
    color: #fff;
    font-size: 15px;
    margin-top: -10px;
}
.section-banner-small button {
    right: 45px;
    cursor: pointer;
    font-size: 23px;
    color: #F40909;
    position: absolute;
    background: transparent;
    border: 2px solid #F40909;
    background-color: rgba(255,255,255,0.4);
}

.section-banner-small button:hover {
    color: #fff;
    background-color: #F40909;
}
@media(max-width: 768px){
    .carousel-inner .carousel-item img{
        height: 450px;
    }
}
