@import '../../variables.scss';

.section-banner-small{
    height: 285px;
    background-image: url(../../images/banner-small.jpg);
    .section-banner-small-text{
        padding: 60px;
        h2{
            color: $color_white;
            font-size: 55px;
            font-weight: bold;
        }
        p{
            color: $color_white;
            font-size: 15px;
            margin-top: -10px;
        }
    }
    button {
        right: 45px;
        cursor: pointer;
        font-size: 23px;
        color: $color_red;
        position: absolute;
        background: transparent;
        border: 2px solid $color_red;
        background-color: $color_grey_opacity;
    }
    button:hover {
        color: $color_white;
        background-color: $color_red;
    }
}
@media(max-width: 768px){
    .carousel-inner .carousel-item img{
        height: 450px;
    }
}
