.section-search{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    padding: 30px 40px;
    background: #ffffff;
}
.search-product{
    width: 23%;
    margin: 1%;
}

.search-item{
    width: 100%;
    min-height: 380px;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

.search-item img {
    width: 90%;
    height: 150px;
}

.search-item-img {
    display: flex;
    justify-content: center;
}

.search-item-img img {
    width: 90%;
    height: 150px;
}

.search-item-name h5 {
    color: #000;
    font-size: 22px;
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
}

.search-item-name-brand span{
    display: block;
    color: #EE1E09;
}

.search-item-price {
    display: flex;
    justify-content: center;
}

.search-item-name {
    display: flex;
    padding: 10px 8% 0;
    align-items: center;
    justify-content: space-between;
}

.search-item-price span {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 5px 2px;
}

.search-item-prices {
    width: 90%;
    display: flex;
    margin: 0 auto;
    min-height: 60px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #C3C6BF;
}

.search-item-prices-mount span{
    display: block;
}

.search-item-prices-descount{
    display: flex;
    align-items: center;
}

.search-item-prices-descount span{
    font-size: 28px;
    color: #98FF04;
    font-weight: bold;
}

.mount-discount{
    text-decoration: line-through;
    display: block;
    font-style: italic;
}

.mount-price{
    font-size: 28px;
    margin-top: -5px;
    font-weight: bold;
}
