/* Carousel Multiple */
@import './variables.scss';

.carousel-multi-item {
    width: 80%;
    padding: 10px 0;
    margin: 30px auto;
    background: $color_white;
    min-height: 330px;
    border-radius: 5px;
    .carousel-multi-item-img {
        display: flex;
        justify-content: center;
        img {
            width: 90%;
            height: 150px;
            margin-top: 10px;
        }
    }
    .carousel-multi-item-name {
        display: flex;
        padding: 10px 8% 0;
        align-items: flex-end;
        justify-content: space-between;
        .carousel-multi-item-name-brand{
            span{
                display: block;
                color: $color_red;
            }
            h5 {
                color: $color_black;
                font-size: 22px;
                text-align: left;
                margin-bottom: 0;
                font-weight: bold;
            }
        }
    }
    .carousel-multi-item-prices {
        width: 90%;
        display: flex;
        margin: 0 auto;
        min-height: 60px;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid $color_grey;
        .carousel-multi-item-prices-mount{
            span{
                display: block;
            }
            .mount-price{
                font-size: 28px;
                margin-top: -5px;
                font-weight: bold;
            }
        }
        .carousel-multi-item-prices-descount{
            display: flex;
            align-items: center;
            span{
                font-size: 28px;
                color: $color_green;
                font-weight: bold;
            }
            .mount-discount{
                text-decoration: line-through;
                display: block;
                font-style: italic;
            }
        }
    }

    .carousel-multi-item-price {
        display: flex;
        justify-content: center;
        span {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            margin: 5px 2px;
        }
    }

}


