$color_red: #ee1e09;
$color_black: #000000;
$color_white: #ffffff;
$color_grey: #C3C6BF;
$color_grey_light: #eee;
$color_grey_dark: #9e9e9e;
$color_green: #98FF04;
$color_grey_opacity: rgba(255,255,255,0.4);